* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("./assets/Graphics/background.png"); /* Adjust the path and file name as necessary */
  background-size: cover; /* This will scale the background image to be as large as possible */
  background-position: center; /* This will center the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.background-container.board {
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.points-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Graphics/text-background01\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  height: 60px;
  gap: 16px;
}

.points-container .light {
  width: 20px;
  height: 30px;
}

.points-container .point-text {
  font-size: 22px;
  color: white;
}

.emoji-container {
  position: relative;
  width: 72px;
}

.emoji-picker-container {
  background-color: white;
  width: 64px;
  min-height: 50px;
  max-height: 300px;
  padding: 4px;
  position: absolute;
  border: 4px solid wheat;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  z-index: 100;
}

.emoji {
  width: 64px;
  height: 64px;
}

.emoji-select {
  width: 32px;
  height: 32px;
  margin: 8px 0;
}

.character-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 48px;
}

.character-container .character {
  height: 100%;
  width: 78%;
  position: relative;
  top: 45px;
  z-index: 1;
}

.character-container .desk {
  height: 12vh;
  width: 84%;
  z-index: 2;
}

.dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-image: url("./assets/Graphics/DicePlace.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70%;
  height: 120px;
  margin-top: 42px;
}

.dice-container .dice1,
.dice-container .dice2 {
  width: 64px;
  height: 64px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Graphics/ButtonFrame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70%;
  height: 100px;
  margin-top: 32px;
}

.button-container .button-text {
  font-size: 34px;
  color: white;
}

.leader-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid #eef1f9;
  border-radius: 16px;
  height: 65vh;
  width: 88%;
  overflow-y: hidden;
}

.board-header {
  height: 16%;
  width: 100%;
  background-color: #24b357;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
}

.board-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.board-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #7bff78;
  height: 6%;
  width: 100%;
  align-items: center;
  position: relative;
}

.board-columns p {
  color: white;
  font-size: 14px;
  font-family: bold;
}

.board-items {
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 100%;
  background-color: #0f9d5c;
  gap: 4px;
  padding: 8px 4px;
  overflow-y: auto;
}

.point-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1ffe9;
  width: 100%;
  height: 50px;
  padding: 32px 16px;
  position: relative;
  border-radius: 4px;
}

.point-item p {
  font-size: 20px;
}

.score {
  position: absolute;
  left: 16px;
}

.username {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rank {
  position: absolute;
  right: 16px;
}

.point-item .rank {
  padding: 2px 8px;
  border: 4px solid transparent;
  right: 8px;
}

.rank.first {
  background-color: #58f9a2;
  border: 4px solid white;
  border-radius: 50%;
}
.rank.second {
  background-color: #c2c2c2;
  border: 4px solid white;
  border-radius: 50%;
}
.rank.third {
  background-color: #e38b4c;
  border: 4px solid white;
  border-radius: 50%;
}
